<div class="newsletter-subscribe">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">グループリスト</h2>
            <p class="text-center">招待するグループを選んでください</p>
        </div>
    <% @group.each do |group| %>
    <div>
      <div class="users-index-item">
        <div class="user-right">
         <div class="nav nav-pills">
         <!-- @usersで全てのuserを取得しているのでlink_toでは一意のuserを指定する -->
          <%= link_to group.name, group_path(@group) %>
         </div>
        </div>
      </div>
    <% end %>
  </div>
</div> 
