<div class="footer-clean">
 <footer>
<div class="container">
<div class="row justify-content-center">
<div class="col-sm-4 col-md-3 item">
    <h3>ログインデモユーザー1</h3>
        <ul>
         <li>email 　tesuto1@xxx.jp</li>
         <li>password  111111</li>
        </ul>
</div>
