<div class="footer-clean">
 <footer>
<div class="container">
<div class="row justify-content-center">
<div class="col-sm-4 col-md-3 item">
    <h3>ログインデモユーザー1</h3>
        <ul>
         <li>name ⇨ user1</li>
         <li>email ⇨　user1@xxx.jp</li>
         <li>password ⇨ 111111</li>
        </ul>
</div>
<div class="col-sm-4 col-md-3 item">
    <h3>ログインデモユーザー2</h3>
     <ul>
      <li>name ⇨ user2</li>
      <li>email ⇨　user2@xxx.jp</li>
      <li>password ⇨ 222222</li>
    </ul>
</div>
</div>
</div>
 </footer>