<div class="newsletter-subscribe">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">体温を投稿する</h2>

        <%= form_for @post,   url: group_posts_path do |f| %>
          <div class='form-inline' >      
            <%=  f.number_field  :content, step: "0.1", class: 'form-control' %>
          </div>
            <%= f.submit "体温投稿", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
 